body {
  background-image: url(..\pictures\background.jpg);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.navbarZ {
  margin-top: 5%;
}
.title {
  display: inline-block;
  text-align: right;
  color: rgb(94, 0, 0);
  font-style: italic;
  font-weight: 100;
  font: "Lobster Two", Helvetica, sans-serif;
  margin-right: 10px;
  padding-right:20px;
}
.logo {
  vertical-align: middle;
  display: inline;
}
.divtitle {
  text-align: right;
  padding-top:20px;
  padding-left:20px;
  padding-bottom:20px;
  display: inline;
  background: linear-gradient(
    90deg,
    rgba(255, 33, 33, 1) 0%,
    rgba(149, 0, 0, 1) 31%,
    rgba(231, 66, 58, 1) 68%
  );
  box-shadow: 10px 10px 5px rgb(75, 75, 75);
  border-radius: 15px 50px 30px 5px;

}
.options {
  text-align: left;
  display: inline-block;
  margin-right: 35%;
  color: rgb(94, 0, 0);
  padding-left:20px;
}

.option:hover {
  color: white;
  cursor: pointer;
}

.optionsMenu{
    background: linear-gradient(
    90deg,
    rgba(255, 33, 33, 1) 0%,
    rgba(149, 0, 0, 1) 31%,
    rgba(231, 66, 58, 1) 68%
  );
  box-shadow: 10px 10px 5px rgb(75, 75, 75);
  border-radius: 15px 50px 30px 5px;
    width: 75%;
    margin:auto;
    text-align: center;
}

.food{
    height: 200px;
    width: 200px;
    margin:10px;
    padding:30px;
    box-shadow: 10px 10px 5px rgb(75, 75, 75);
    border-radius: 15px 50px 30px 5px;
    vertical-align: middle;
    
}

.foodZ{
    display:inline-block;
    margin:auto;
    padding:auto;
    text-align: center;
}